{% extends 'base.html.twig' %}

{% block title %}New Cocktail{% endblock %}

{% block body %}
    <h1>Create new Cocktail</h1>

    {{ include('cocktail/_form.html.twig') }}

    <a href="{{ path('cocktail_index') }}">back to list</a>
{% endblock %}
